ion-header {
    background-color: #d32f2f; /* Rojo similar al de la imagen */
    color: white;
  }
  
  .ticket-card {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 10px;
    position: relative;
  }
  
  .ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .ticket-status {
    display: flex;
    justify-content: flex-end;
  }
  
  .ticket-info {
    margin-bottom: 20px;
    @media (prefers-color-scheme: dark) {
        background: #fff;
        color: #130e0e;
        
    }
    ion-item{
        @media (prefers-color-scheme: dark) {
            --background: #fff;
            color: #130e0e;
            
        }
    }
  }
  
  .ticket-footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .ticket-footer img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
  }
  
  .titulo{
    --background: #130e0e;
    color:#fff;
    @media (prefers-color-scheme: dark) {
        background: #130e0e;
        color:#fff;
        
    }
  }
  ion-content{
    @media (prefers-color-scheme: dark) {
        --background: #242424;;
        
    }
  }
  